<?xml version="1.0"?>
<launch>

    <arg name="align_with_workspace" default="false" />

    <!-- move base safe action server -->
    <node pkg="mir_move_base_safe" type="move_base_safe_server.py" name="move_base_safe_server" output="screen" >
        <param name="align" type="bool" value="$(arg align_with_workspace)" />
    </node>

    <!-- stage action server -->
    <node pkg="mir_stage_object" type="stage_object_server.py" name="stage_object_server" output="screen" />

    <!-- unstage action server -->
    <node pkg="mir_unstage_object" type="unstage_object_server.py" name="unstage_object_server" output="screen" />

    <!-- perceive location action server -->
    <include file="$(find mir_perceive_location)/ros/launch/perceive_location_server.launch" />

    <!-- wbc pick object action server -->
    <node pkg="mir_pick_object" type="pick_object_server.py" name="wbc_pick_object_server" output="screen"/>

    <!-- pick from shelf action server -->
    <include file="$(find mir_pick_from_shelf)/ros/launch/pick_from_shelf.launch" />
    
    <!-- place object action server -->
    <node pkg="mir_place_object" type="place_object_server.py" name="place_object_server" output="screen" />

    <!-- insert object in object server -->
    <node pkg="mir_insert_object" type="insert_object_server.py" name="insert_object_server" output="screen" />

    <!-- place object in cavity server -->
    <node pkg="mir_perceive_cavity" type="perceive_cavity_server.py" name="perceive_cavity_server" output="screen"/>

    <!-- insert object in cavity server -->
    <node pkg="mir_insert_cavity" type="insert_cavity_server.py" name="insert_cavity_server" output="screen" />

</launch>
