<?xml version="1.0"?>
<launch>

    <arg name="object_shape_learned_params_file"
         default="$(find mir_ppt_detection)/config/object_shape_learned_params.yaml"/>

    <node pkg="mir_ppt_detection" type="ppt_detector" name="ppt_detector" output="screen">
        <remap from="~points" to="/arm_cam3d/depth_registered/points"/>
        <param name="object_shape_learned_params_file" value="$(arg object_shape_learned_params_file)"/>
    </node>

    <!-- <node pkg="mir_ppt_detection" type="ppt_classifier_node" name="ppt_classifier_node" output="screen"> -->
    <!--     <remap from="~cavities" to="/ppt_detector/cavities"/> -->
    <!-- </node> -->
</launch>
