<?xml version="1.0"?>
<launch>
    <arg name="file_path" default="~/.ros/bagfiles"/>
    <arg name="file_prefix" default="b-it-bots"/>
    <arg name="topics" default="$(find mir_manipulation_functionality)/ros/config/topics.yaml" />

    <node pkg="mcr_rosbag_recorder" type="rosbag_recorder_node"
        name="rosbag_recorder" ns="mcr_tools" output="screen">
        <param name="topics" type="str" value="$(arg topics)"/>
        <param name="file_path" type="str" value="$(arg file_path)"/>
        <param name="file_prefix" type="str" value="$(arg file_prefix)"/>
        <param name="loop_rate" type="double" value="1.0"/>
    </node>

  <!-- rockin/depth/pointcloud -->
  <node pkg="topic_tools" type="throttle" name="pointcloud_remap" args="messages /mcr_perception/cloud_accumulator/output 2 /rockin/depth/pointcloud" output="screen" />

  <!-- rockin/rgb/camera_info -->
  <node pkg="topic_tools" type="throttle" name="camera_info_remap" args="messages /arm_cam3d/rgb/camera_info 10 /rockin/rgb/camera_info" output="screen" />

  <!-- rockin/depth/camera_info -->
  <node pkg="topic_tools" type="throttle" name="depth_camera_info_remap" args="messages /arm_cam3d/depth/camera_info 10 /rockin/depth/camera_info" output="screen" />
   
    <arg name="reference_frame" default="base_link"/>
    <!-- TODO: or gripper_tip_link? But also it needs to be changed in t
         poses_to_move_X launch files -->
    <arg name="target_frame" default="gripper_motor_mount_link"/>

    <!-- rockin/grasping_pose -->                                
    <!-- <node pkg="topic_tools" type="relay" name="grasping_pose_remap" args="messages /mcr_perception/object_selector/output/object_pose 10 /rockin/grasping_pose" output="screen" /> -->
    <node pkg="mcr_pose_generator" type="pose_publisher_node" 
         name="grasping_pose_remap" output="screen">
         <!-- the node cycle rate (in hz) -->
         <param name="loop_rate" type="double" value="10"/>
         <remap from="~pose_in" to="/mcr_perception/object_selector/output/object_pose"/>
         <remap from="~pose_out" to="/rockin/grasping_pose"/>
    </node>    
    <!-- rockin/gripper_pose -->
    <node pkg="mcr_common_converters" type="transform_to_pose_converter_node"
          name="end_effector_pose_logger" output="screen">
          <!-- Node cycle rate (in hz) -->
          <param name="loop_rate" type="double" value="10" />
          <param name="wait_for_transform" type="double" value="0.2" />
          <!-- Reference frame from which the pose is transformed -->
          <param name="reference_frame" type="str" value="$(arg reference_frame)"/>
          <!-- Target frame to which the pose is transformed -->
          <param name="target_frame" type="str" value="$(arg target_frame)"/>
          <remap from="~converted_pose" to="/rockin/gripper_pose"/>
    </node>

    <!-- rockin/arm_joints -->                                                                        
    <node pkg="topic_tools" type="throttle" name="joint_states_remap" args="messages /joint_states 10 /rockin/arm_joints" output="screen" />

</launch>
