<?xml version="1.0"?>
<launch>
  
    <arg name="robot" default="$(optenv ROBOT !!ROBOT NOT SET!!)" />
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!ROBOT_ENV NOT SET!!)" />

    <!-- eband planner set to omni by default -->
    <arg name="diff" default="false"/>

    <!-- common navigation launch files -->
    <include file="$(find mir_2dnav)/ros/launch/nav_common.launch">
      <arg name="robot_env" value="$(arg robot_env)" />
    </include>
    
    <!--- setting omni or differential mode -->
    <param name="move_base/EBandPlannerROS/differential_drive" value="$(arg diff)" />

    <!-- move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />

        <rosparam file="$(find mir_2dnav)/ros/config/eband/local_planner_eband.yaml" command="load" ns="EBandPlannerROS"/>

        <!--- load global costmap parameters -->
        <rosparam file="$(find mir_2dnav)/ros/config/eband/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mir_hardware_config)/$(arg robot)/config/base_footprint.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mir_2dnav)/ros/config/eband/global_costmap_params.yaml" command="load" />

        <!--- load local costmap parameters -->
        <rosparam file="$(find mir_2dnav)/ros/config/eband/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mir_hardware_config)/$(arg robot)/config/base_footprint.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mir_2dnav)/ros/config/eband/local_costmap_params.yaml" command="load" />

        <!--- load planner parameters -->
        <rosparam file="$(find mir_2dnav)/ros/config/eband/base_local_planner_params.yaml" command="load" />
    </node>

</launch>

