<?xml version="1.0"?>
<launch>

  <arg name="robot_env" default="$(optenv ROBOT_ENV !!ROBOT_ENV NOT SET!!)" />

  <!-- navigation goals/orientations -->
  <include file="$(find mcr_default_env_config)/upload_param.launch">
    <arg name="robot_env" value="$(arg robot_env)" />
  </include>

  <node pkg="mir_2dnav" type="move_base_node_mockup" respawn="false" name="move_base" output="screen"/>

</launch>
