<?xml version="1.0"?>
<launch>

  <!-- common navigation launch files -->
  <include file="$(find mir_2dnav)/ros/launch/nav_common.launch" />

  <node pkg="mir_2dnav" type="move_base_adapted" respawn="false" name="move_base_adapted" output="screen">
	  <rosparam file="$(find mir_2dnav)/ros/config/diff/move_base_params.yaml" command="load" />
		<rosparam file="$(find mir_2dnav)/ros/config/diff/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find mir_2dnav)/ros/config/diff/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find mir_2dnav)/ros/config/diff/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find mir_2dnav)/ros/config/diff/global_costmap_params.yaml"	command="load" />
		<rosparam file="$(find mir_2dnav)/ros/config/diff/base_local_planner_params.yaml" command="load" ns="TrajectoryPlannerROS" />
	</node>

</launch>
