<?xml version="1.0"?>
<launch>

  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

  <!-- navigation goals/orientations -->
	<include file="$(find mcr_default_env_config)/upload_param.launch" />
    
  <!-- visualize navigation goals -->
	<node pkg="mcr_navigation_tools" type="navigation_goals_as_marker" name="navigation_goals_as_marker" ns="mcr_navigation"/>

  <!-- map server -->
	<arg name="map" default="$(find mcr_default_env_config)/$(arg ROBOT_ENV)/map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

  <!-- AMCL -->
	<include file="$(find mir_2dnav)/ros/launch/amcl.launch" />
	
</launch>
