<?xml version="1.0"?>
<launch>

  <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>

  <!-- navigation goals/orientations -->
  <include file="$(find mcr_default_env_config)/upload_param.launch">
    <arg name="robot_env" value="$(arg robot_env)"/>
  </include>

  <!-- visualize navigation goals -->
  <include file="$(find mcr_navigation_tools)/ros/launch/pose_visualiser.launch" />

  <!-- map server -->
  <arg name="map" default="$(find mcr_default_env_config)/$(arg robot_env)/map.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

  <!--particle filter-->
  <include file="$(find mir_2dnav)/ros/launch/amcl.launch" />

</launch>
