<?xml version="1.0"?>
<launch>
  <node pkg="mir_pregrasp_planning" type="pose_mock_up_gui_node"
          name="pose_mock_up_gui" output="screen" ns="mir_manipulation">

    <!-- the cycle rate of the node (in hz) -->
    <param name="loop_rate" type="double" value="10.0"/>

    <!-- Reference frame of the published pose -->
    <param name="reference_frame" type="str" value="base_link"/>

    <remap from="~mock_up_pose" to="/mir_states/object_selector/object_pose"/>
  </node>
</launch>
