<?xml version="1.0"?>
<launch>
    <arg name="cmd_vel_out" default="/cmd_vel_prio_medium" />
    <group ns="mcr_navigation/direct_base_controller">
        <node pkg="mcr_direct_base_controller" type="direct_base_controller_coordinator_node" name="coordinator" output="screen">
            <remap from="~target_pose" to="/mcr_navigation/direct_base_controller/input_pose" />
            <remap from="~twist" to="$(arg cmd_vel_out)" />

            <!-- the cycle rate of the node (in Hz) in RUNNING mode -->
            <param name="loop_rate" type="double" value="20.0"/>
            <!-- the cycle rate of the node (in Hz) in INIT mode -->
            <param name="idle_loop_rate" type="double" value="1.0"/>
            <param name="base_frame" type="str" value="base_link"/>
        </node>
    </group>
</launch>
