<?xml version="1.0" ?>
<launch>

    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <arg name="camera" default="arm_cam3d" />
    <arg name="realsense_camera_type" default="Intel(R) RealSense(TM) 3D Camer" />
    <arg name="publish_frames" default="true" />
 
    <include file="$(find realsense_camera)/launch/realsense_camera.launch">
        <arg name="camera" value="$(arg camera)" />
        <arg name="rgb_frame_w" value="640" />
        <arg name="rgb_frame_h" value="480" />
        <arg name="rgb_camera_info_url" default="package://mir_default_robot_config/$(arg robot)/realsense_camera_calibration.yaml" />
        <arg name="ir_camera_info_url" default="" />
        <arg name="realsense_camera_type" default="$(arg realsense_camera_type)" />
	<arg name="publish_frames" default="$(arg publish_frames)" />
    </include>

</launch>
