# Eclipse
.autotools
.cproject
.project
.settings/

.pydevproject
.idea/
*.pyc
.idea/

# Visual Paradigm
*.vpp.*
*.vpp~*

*~
html/
latex/

# VSCode
.vscode/

mir_perception/mir_object_recognition/common/src/rgb_object_recognition/yolov5/runs/detect/inference_1