<?xml version="1.0" encoding="UTF-8"?>
<!-- based on: https://github.com/JenniferBuehler/jaco-arm-pkgs/blob/master/jaco_arm/jaco_gazebo/urdf/gzplugin_grasp_fix.urdf.xacro -->
<root
 xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
 xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
 xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
 xmlns:xacro="http://ros.org/wiki/xacro">


<xacro:macro name="gzplugin_grasp_fix">
	<gazebo>
		<plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
      <!-- See https://github.com/JenniferBuehler/gazebo-pkgs/wiki/The-Gazebo-grasp-fix-plugin
         for more info
            -->
        <arm>
            <arm_name>arm_1</arm_name>
            <palm_link>arm_link_5</palm_link>
            <gripper_link>gripper_motor_left_link</gripper_link>
            <gripper_link>gripper_motor_right_link</gripper_link>
        </arm>
			<forces_angle_tolerance>100</forces_angle_tolerance>
			<update_rate>4</update_rate>
			<grip_count_threshold>4</grip_count_threshold>
			<max_grip_count>8</max_grip_count>
			<release_tolerance>0.005</release_tolerance>
			<disable_collisions_on_attach>false</disable_collisions_on_attach>
			<contact_topic>__default_topic__</contact_topic>
		</plugin>
	</gazebo>
</xacro:macro>

</root>
