<?xml version="1.0"?>
<root>

  <material name="Grey2">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>

  <material name="Caster">
    <texture filename="package://pr2_description/materials/textures/pr2_caster_texture.png" />
  </material>

  <material name="Wheel_l">
    <texture filename="package://pr2_description/materials/textures/pr2_wheel_left.png" />
  </material>

  <material name="Wheel_r">
    <texture filename="package://pr2_description/materials/textures/pr2_wheel_right.png" />
  </material>

  <material name="RollLinks">
    <texture filename="package://pr2_description/materials/textures/pr2_wheel_left.png" />
  </material>

</root>
