#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add( "binary_threshold",    double_t,   0, "The binary threshold value.",                                           50,     0, 255 )
gen.add( "timeout",             int_t,      0, "The amount of time in seconds that the system is allowed to run for",   15,     0, 120 ) 
gen.add( "debugging",           bool_t,     0, "Run in debugging mode.",                                                False )

exit( gen.generate("mir_visual_servoing", "mir_visual_servoing", "VisualServoing" ) )
