#!/usr/bin/env python
PACKAGE = "mir_pregrasp_planning"
NODE = "pregrasp_planner"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("min_azimuth", double_t, 0, "Minimum Azimuth angle in degrees", 0.0, -180.0, 180.0)
gen.add("min_zenith", double_t, 0, "Minimum Zenith angle in degrees", 0.0, -180.0, 180.0)
gen.add("min_roll", double_t, 0, "Minimum Rolling angle in degrees", 0.0, -180.0, 180.0)
gen.add("max_azimuth", double_t, 0, "Maximum Azimuth angle in degrees",  0.0, -180.0, 180.0)
gen.add("max_zenith", double_t, 0, "Maximum Zenith angle in degrees", 0.0, -180.0, 180.0)
gen.add("max_roll", double_t, 0, "Maximum Rolling angle in degrees",  0.0, -180.0, 180.0)
gen.add("linear_step", double_t, 0, "The sampling step for linear variables (in meters)",  0.01, 0.0, 0.1)
gen.add("angular_step", double_t, 0, "The sampling step for angular variables (in degrees)",  0.0, -180.0, 180.0)
gen.add("min_distance_to_object", double_t, 0, "Closest distance the gripper should be to the object (in meters)",  0.0, 0.0, 0.1)
gen.add("max_distance_to_object", double_t, 0, "Farthest distance the gripper should be to the object (in meters)",  0.0, 0.0, 0.1)
gen.add("max_samples", int_t, 0, "Number of samples",  50, 0, 200)
gen.add("max_height", double_t, 0, "Maximum height",  0.0, 0.0, 0.01)
gen.add("min_height", double_t, 0, "Minimum height",  0.0, 0.0, 0.01)

gen.add("height_tolerance", double_t, 0, "Tolerance to decide whether an object should be re-oriented - Height", 0.04, 0, 0.04)
gen.add("angular_tolerance", double_t, 0, "Angular tolerance (in degrees) to check if an object is standing up (in degrees)",  2.0, -180.0, 180.0)
gen.add("target_frame", str_t, 0, "Target frame for transform",  "base_link")
gen.add("reference_axis", str_t, 0, "Rotation axis of the pose to be modified (e.g. x, y, z)",  "z")
gen.add("rotation_offset", double_t, 0, "Rotation offset to add to the reference_axis of the pose (in degrees)",  0.0, -180.0, 180.0)
gen.add("linear_offset_x", double_t, 0, "Linear offset for the X axis",  0.0, -0.1, 0.1)
gen.add("linear_offset_y", double_t, 0, "Linear offset for the Y axis",  0.0, -0.1, 0.1)
gen.add("linear_offset_z", double_t, 0, "Linear offset for the Z axis",  0.0, -0.1, 0.1)
gen.add("generate_pregrasp_waypoint", bool_t, 0, "Whether a pre-pregrasp joint configuration should be generated",  True)
gen.add("joint_1_offset", double_t, 0, "Offset for joint 1 to create pre-pregrasp pose",  0.0, -1.0, 1.0)
gen.add("joint_2_offset", double_t, 0, "Offset for joint 2 to create pre-pregrasp pose",  0.0, -1.0, 1.0)
gen.add("joint_3_offset", double_t, 0, "Offset for joint 3 to create pre-pregrasp pose",  0.0, -1.0, 1.0)
gen.add("joint_4_offset", double_t, 0, "Offset for joint 4 to create pre-pregrasp pose",  0.0, -1.0, 1.0)
gen.add("joint_5_offset", double_t, 0, "Offset for joint 5 to create pre-pregrasp pose",  0.0, -1.0, 1.0)
gen.add("rotation_range_max", double_t, 0, "Range of rotation allowed [rotation_range_max - rotation_range_min] (in degrees)",  270.0, 0.0, 360.0)
gen.add("rotation_range_min", double_t, 0, "Range of rotation allowed [rotation_range_max - rotation_range_min] (in degrees)",  90.0, 0.0, 360.0)

exit(gen.generate(PACKAGE, NODE, "PregraspPlannerParams"))
