<?xml version="1.0"?>
<launch>
    <node pkg="mir_moveit_to_pose" type="moveit_to_pose_node" name="moveit_to_pose"  output="screen">
        <!-- name of arm to be used -->
        <param name="~arm"  type="string" value="arm_1"/>
        <!-- timeout duration for inverse kinematics -->
        <param name="~ik_timeout" type="double" value="0.5"/>
        <!-- distance between arm_link_5 and tip of gripper -->
        <param name="~arm_link_5_to_gripper_tip" type="double" value="0.11"/>
    </node>
</launch>


