<?xml version="1.0"?>
<launch>
    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <!-- launch move_group (needed to access moveit_commander) -->
    <include file="$(find mir_moveit_youbot)/$(arg robot)/move_group.launch">
       <arg name="planner_pipeline" value="interpolation" />
    </include>
    <param name="/move_group/trajectory_execution/allowed_execution_duration_scaling" type="double" value="1.5"/>
    <!-- by setting this parameter we disable checking that the first point in the trajectory is the current state -->
    <param name="/move_group/trajectory_execution/allowed_start_tolerance" type="double" value="0.0"/>

    <!-- Actual launch file of this package -->
    <include file="$(find mir_moveit_to_pose)/ros/launch/moveit_to_pose.launch"/>

</launch>


