<?xml version="1.0"?>
<launch>

    <arg name="heavy_objects" default="['m20_100']" />

    <node pkg="mir_unstage_object" type="unstage_object_server.py"
          name="unstage_object_server" output="screen">
        <rosparam param="heavy_objects" subst_value="True">
            $(arg heavy_objects)
        </rosparam>
    </node>

</launch>
