<?xml version="1.0"?>
<launch>
    <node pkg="mcr_arm_motions" type="planned_motion_node"
            name="planned_motion"  output="screen">

        <!-- the cycle rate of the node (in hz) -->
        <param name="~loop_rate"  type="double" value="10"/>
        
        <param name="~arm"  type="string" value="arm_1"/>

        <remap from="~target_configuration" to="/pregrasp_planner/joint_configuration_out"/>
    </node>
</launch>


