<?xml version="1.0"?>
<launch>
	<rosparam command="load" file="$(find mir_hardware_config)/$(env ROBOT)/config/gripper.yaml"/>	
	<rosparam command="load" file="$(find youbot_joint_trajectory_action)/ros/config/gripper_joint_trajectory_action.yaml" />

    <include file="$(find mir_gripper_services)/ros/launch/gripper_service_server.launch" />

	<group ns="gripper_controller">
		<node pkg="youbot_joint_trajectory_action" type="joint_trajectory_action.py" name="gripper_joint_trajectory_action" output="screen">
			<remap from="joint_states" to="/joint_states"/>
			<remap from="joint_trajectory_action" to="follow_joint_trajectory"/>
		</node>
	</group>

</launch>



