<?xml version="1.0"?>
<root xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="realsense_d435_gazebo" params="name color:=rgb">
      <gazebo reference="${name}_camera_link">
        <sensor type="depth" name="${name}_depth_sensor">
          <update_rate>20.0</update_rate>
          <camera name="${name}_camera">
            <horizontal_fov>1.21</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>B8G8R8</format>
            </image>
            <clip>
              <near>0.13</near>
              <far>30.0</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <plugin name="${name}_realsense_d435_plugin" filename="libgazebo_ros_openni_kinect.so">
            <baseline>0.2</baseline>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>${name}_ir</cameraName>
            <imageTopicName>/${name}/${color}/image_raw</imageTopicName>
            <cameraInfoTopicName>/${name}/${color}/camera_info</cameraInfoTopicName>
            <depthImageTopicName>/${name}/depth/image_raw</depthImageTopicName>
            <depthImageInfoTopicName>/${name}/depth/camera_info</depthImageInfoTopicName>
            <pointCloudTopicName>/${name}/depth_registered/points</pointCloudTopicName>
            <frameName>/${name}_camera_depth_optical_frame</frameName>
            <pointCloudCutoff>0.105</pointCloudCutoff>
            <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
            <distortionK1>0.00000001</distortionK1>
            <distortionK2>0.00000001</distortionK2>
            <distortionK3>0.00000001</distortionK3>
            <distortionT1>0.00000001</distortionT1>
            <distortionT2>0.00000001</distortionT2>
            <CxPrime>0</CxPrime>
            <Cx>0</Cx>
            <Cy>0</Cy>
            <focalLength>0</focalLength>
            <hackBaseline>0</hackBaseline>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>


</root>
