<?xml version="1.0"?>
<launch>

    <arg name="problem_file_name" default="smaller_problem.pddl" />
    <arg name="file_path" default="$(find mir_task_planning)/common/pddl" />

    <group ns="mir_task_planning">

        <node pkg="mir_task_planning" type="upload_problem" name="upload_problem" output="screen" >

            <param name="problem_file" type="str"
                   value="$(arg file_path)/$(arg problem_file_name)" />
        </node>

    </group>

</launch>
