<?xml version="1.0"?>
<launch>
 
    <arg name="base_motion_enabled" default="false" />

    <node pkg="mir_perceive_location" type="perceive_location_server.py" name="perceive_location_server" output="screen">
        <param name="base_motion_enabled" type="bool" value="$(arg base_motion_enabled)" />
    </node>
</launch>
