<?xml version="1.0"?>
<launch>

  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

  <!-- upload robot description and params (joint configurations) -->
  <include file="$(find mir_default_robot_config)/upload_param.launch" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mir_hardware_config)/$(arg ROBOT)/urdf/robot.urdf.xacro'" />

  <!-- start robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />

  <!-- start robot-specific launch file -->
  <include file="$(find mir_bringup)/robots/$(arg ROBOT).launch" />

</launch>
