<?xml version="1.0"?>
<launch>

  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

  <!-- upload robot description and params (joint configurations) -->
  <include file="$(find mir_hardware_config)/upload_param.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find mir_default_robot_config)/upload_param.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

  <!-- start robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />

  <!-- start robot-specific launch file -->
  <include file="$(find mir_bringup)/robots/$(arg robot).launch" />

</launch>
