<?xml version="1.0"?>
<launch>

    <arg name="camera_name" default="tower_cam3d_front_camera" />
    <arg name="target_frame" default="base_link" />
    <arg name="marker_length" default="0.04" /> <!-- in meters -->
    <arg name="retry_attempts" default="3" />
    <arg name="debug" default="false" />
    <arg name="output_object_list" default="/mcr_perception/object_list_merger/output_object_list" />

    <node pkg="mir_perceive_aruco_cube" type="perceive_aruco_cube"
          name="aruco_cube_perceiver" output="screen" ns="mir_perception">
        <remap from="~input_rgb_image" to="/$(arg camera_name)/rgb/image_raw"/>
        <remap from="~camera_info" to="/$(arg camera_name)/rgb/camera_info"/>
        <remap from="~output_pose" to="/mir_perception/aruco_cube_perceiver/object_pose"/>
        <remap from="~output_object_list" to="$(arg output_object_list)"/>

        <param name="target_frame" type="str" value="$(arg target_frame)"/>
        <param name="retry_attempts" type="int" value="$(arg retry_attempts)"/>
        <param name="marker_length" type="double" value="$(arg marker_length)"/>
        <param name="debug" type="bool" value="$(arg debug)"/>
    </node>
</launch>
