<?xml version="1.0"?>
<launch>
    <node pkg="mir_perceive_aruco_cube" type="perceive_aruco_cube" name="perceive_aruco_cube" output="screen"> 
        <remap from="~input_rgb_image" to="/arm_cam3d/rgb/image_raw"/> 
        <remap from="~input_pointcloud" to="/arm_cam3d/depth_registered/points"/> 
        <remap from="~output_pose" to="/mir_perception/aruco_cube_perceiver/object_pose"/> 
        <param name="target_frame" value="base_link"/> 
    </node> 
</launch>
