<?xml version="1.0"?>
<launch>

  <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mir_hardware_config)/$(arg robot)/urdf/robot.urdf.xacro'" />

  <rosparam command="load" ns="arm_1" file="$(find mir_hardware_config)/$(arg robot)/config/arm.yaml"/>
	
</launch>
