<?xml version="1.0"?>
<launch>

    <arg name="model_path" default="$(find mir_planning_visualisation)/resource"/>
    <arg name="model_to_marker_config"
         default="$(find mir_planning_visualisation)/ros/config/model_to_marker.yaml"/>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <!-- <arg name="navigation_goals_file" -->
    <!--      default="$(find mcr_default_env_config)/$(arg robot_env)/navigation_goals.yaml" /> -->
    <arg name="navigation_goals_file"
         default="$(find mir_planning_visualisation)/ros/config/test_navigation_goals.yaml" />
    <arg name="debug" default="false" />
    <arg name="global_frame" default="map" />
    <arg name="alpha" default="1.0" />
    <arg name="base_link_to_ws_edge" default="0.4" />
    <arg name="kb_server_topic" default="/rosplan_knowledge_base/state/propositions" />


    <group ns="mir_planning">

        <node pkg="mir_planning_visualisation" type="kb_visualiser"
              name="kb_visualiser" output="screen" >

            <remap from="~markers" to="/mir_planning/planning_visualisation/kb_markers" />
            <remap from="~kb_server_topic" to="$(arg kb_server_topic)" />
            <param name="debug" type="bool" value="$(arg debug)" />
            <param name="global_frame" type="str" value="$(arg global_frame)" />
            <param name="model_path" type="str" value="$(arg model_path)" />
            <param name="alpha" type="double" value="$(arg alpha)" />
            <param name="base_link_to_ws_edge" type="double" value="$(arg base_link_to_ws_edge)" />
            <param name="model_to_marker_config" type="str" value="$(arg model_to_marker_config)" />

            <rosparam command="load" param="navigation_goals" file="$(arg navigation_goals_file)" />

        </node>

        <node pkg="mir_planning_visualisation" type="plan_visualiser"
              name="plan_visualiser" output="screen" >
            <param name="global_frame" type="str" value="$(arg global_frame)" />
            <param name="model_path" type="str" value="$(arg model_path)" />
            <param name="alpha" type="double" value="$(arg alpha)" />
            <param name="base_link_to_ws_edge" type="double" value="$(arg base_link_to_ws_edge)" />
            <param name="model_to_marker_config" type="str" value="$(arg model_to_marker_config)" />

            <remap from='~markers' to='/mir_planning/planning_visualisation/plan_markers' />
            <rosparam command="load" param="navigation_goals" file="$(arg navigation_goals_file)" />
        </node>

    </group>

</launch>
