<?xml version="1.0"?>
<launch>

    <arg name="debug" default="true" />
    <arg name="global_frame" default="map" />
    <arg name="model_path" default="$(find mir_planning_visualisation)/resource"/>
    <arg name="model_to_marker_config"
         default="$(find mir_planning_visualisation)/ros/config/model_to_marker.yaml"/>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)" />
    <!-- <arg name="navigation_goals_file" -->
    <!--      default="$(find mcr_default_env_config)/$(arg robot_env)/navigation_goals.yaml" /> -->
    <arg name="navigation_goals_file"
         default="$(find mir_planning_visualisation)/ros/config/test_navigation_goals.yaml" />


    <group ns="mir_planning">

        <node pkg="mir_planning_visualisation" type="planning_visualiser"
              name="planning_visualiser" output="screen" >

            <param name="debug" type="bool" value="$(arg debug)" />
            <param name="global_frame" type="str" value="$(arg global_frame)" />
            <param name="model_path" type="str" value="$(arg model_path)" />
            <rosparam command="load" file="$(arg model_to_marker_config)" />
            <rosparam command="load" param="navigation_goals" file="$(arg navigation_goals_file)" />

        </node>

    </group>

</launch>
