<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="youbot" >
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <xacro:include filename="$(find youbot_description)/urdf/common.xacro" />

  <!-- youbot base -->
  <xacro:include filename="$(find youbot_description)/urdf/youbot_base/base.urdf.xacro" />
  
  <!-- youbot plate -->
  <xacro:include filename="$(find youbot_description)/urdf/youbot_plate/plate.urdf.xacro" />
  
  <!-- youbot arm -->
  <xacro:include filename="$(find youbot_description)/urdf/youbot_arm/arm.urdf.xacro"/>
 
  <!-- controller manager -->
  <xacro:include filename="$(find youbot_description)/controller/ros_controller.urdf.xacro" />
  
  <!-- materials for visualization -->
  <xacro:include filename="$(find youbot_description)/urdf/materials.urdf.xacro" />				     

  <!-- sensors -->
  <xacro:include filename="$(find youbot_description)/urdf/sensors/hokuyo_urg04_laser.urdf.xacro"/>

  <!-- Now we can start using the macros included above to define the actual youbot -->

  <!-- standard youBot configuration -->
  <xacro:youbot_base name="base"/>
  
  <!-- BRSU SPECIFIC STUFF -->
  <xacro:include filename="$(find mcr_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/misc/cam3d_tower.urdf.xacro"/>
  <xacro:include filename="$(find mcr_description)/urdf/sensors/asus_xtion_camera.urdf.xacro"/>
  <xacro:include filename="$(find mcr_description)/urdf/mounts/microsoft_lifecam_1080_mount.urdf.xacro"/>
  <xacro:include filename="$(find mir_description)/urdf/grippers/festo_gripper.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/misc/rear_platform.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/misc/adapter_plate.urdf.xacro" />

  <!-- Rear Platform -->
  <xacro:rear_platform name="rear_platform" parent="base_link">
    <origin xyz="-0.005 -0.175 0.051" rpy="0 0 0" />
  </xacro:rear_platform>

  <!-- Arm Plate moving arm 8cm foward and 45 degree rotation -->
  <xacro:adapter_plate name="adapter_plate" parent="base_link" arm_angle="${-M_PI / 4}">
    <origin xyz="${0.159+0.08} 0 0.051" rpy="0 0 0" />
  </xacro:adapter_plate>

  <xacro:youbot_arm name="arm" parent="adapter_plate_arm_root_link">
    <origin xyz="-0.022 0.0 0.037" rpy="0 0 0" />
  </xacro:youbot_arm>

  <!-- base laser front -->
  <xacro:hokuyo_urg04_laser name="base_laser_front" parent="base" ros_topic="scan_front" update_rate="10" min_angle="-1.57" max_angle="1.57">
    <origin xyz="0.3 0 -0.03" rpy="0 0 0"/>
  </xacro:hokuyo_urg04_laser>

  <!-- base laser rear -->
  <xacro:hokuyo_urg04_laser name="base_laser_rear" parent="base" ros_topic="scan_rear" update_rate="10" min_angle="-1.57" max_angle="1.57" >
     <origin xyz="-0.3 0.0 -0.03" rpy="0 0 ${M_PI}" />
  </xacro:hokuyo_urg04_laser>

  <!-- camera tower -->
  <xacro:cam3d_tower name="camera_tower" parent="rear_platform_link">
    <origin xyz="-0.227 0.165 0.023" rpy="0 0 0" />
  </xacro:cam3d_tower>

  <!-- 3D camera on arm -->
  <xacro:asus_xtion_camera name="tower_cam3d" parent="arm_link_5" tilt="0.0">
    <origin xyz="${-0.035 - 0.030 + 0.030} ${0 - 0.015} ${-0.09}" rpy="0 ${-M_PI / 2} 0" />
  </xacro:asus_xtion_camera>

  <!-- 3D camera on tower (not used at the moment) -->
  <xacro:asus_xtion_camera name="tower_cam3d_dummy" parent="camera_tower_link" tilt="0.5">
    <origin xyz="0.015 0 0.47" rpy="0 0 0" />
  </xacro:asus_xtion_camera>
  
  <!-- Arm POV Mount 
  <xacro:microsoft_lifecam_1080_mount name="microsoft_lifecam_1080_mount" parent="arm_link_5">
    <origin xyz="-0.035 0.0 -0.025" rpy="0 0 3.14159265" />
  </xacro:microsoft_lifecam_1080_mount>
  -->
  <xacro:festo_gripper name="gripper" parent="arm_link_5">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:festo_gripper>


</robot>
