<?xml version="1.0"?>
<launch>

    <arg name="refbox" default="true" />

    <!-- knowledge base args, they are reused by other components as well -->
    <arg name="domain" default="general_domain" />
    <arg name="base_path" default="$(find mir_knowledge)/common/pddl/$(arg domain)" />
    <arg name="domain_path" default="$(arg base_path)/domain.pddl" />

    <!-- upload domain args - pddl problem that will be loaded as instrinsic knowledge -->
    <arg name="yb_intrinsic_knowledge" default="$(arg base_path)/minimum_required_facts.pddl" />

    <!-- pddl problem gen - path for the pddl problem generator to save the created file, and for the planner to make plan -->
    <arg name="problem_path" default="$(arg base_path)/problems/p1.pddl" />

    <!-- rosplan knowledge base interface-->
    <node pkg="rosplan_knowledge_base" type="knowledgeBase" name="rosplan_knowledge_base"
          output="screen" required="true" >
        <param name="domain_path" value="$(arg domain_path)" />
        <param name="problem_path" value="$(arg yb_intrinsic_knowledge)" />
    </node>

    <!-- to upload knowledge which will not come from referee box, such as yb intrinsic knowledge, etc -->
    <node pkg="mir_knowledge" type="upload_knowledge" name="upload_knowledge" output="screen">
        <param name="problem_file" type="str" value="$(arg yb_intrinsic_knowledge)"/>
    </node>

    <!-- mir_knowledge_base_analyzer knowledge_base_analyzer :
         tells if there are new goals or changes in facts by queries to kb -->
    <include file="$(find mir_knowledge_base_analyzer)/ros/launch/knowledge_base_analyzer.launch"/>

    <!-- mir_knowledge_base_analyzer knowledge_base_analyzer :
         lets you query specific things from the knowledge base -->
    <include file="$(find mir_knowledge_base_analyzer)/ros/launch/knowledge_base_queries.launch"/>

    <!-- automatic pddl problem generation from kb snapshot -->
    <include file="$(find mir_pddl_problem_generator)/ros/launch/pddl_problem_generator.launch">
        <arg name="problem_path" value="$(arg problem_path)" />
    </include>

    <!-- mir_task_planning (planners wrapped with ros action server) -->
    <include file="$(find mir_task_planning)/ros/launch/task_planner.launch"/>

    <!-- planner executor, listens to action dispatch msgs and executes the plan,
         reports failure if some action fails and aborts -->
    <include file="$(find mir_planner_executor)/ros/launch/planner_executor.launch"/>

    <!-- atwork commander client: communicates with atwork commander to get
         task descriptions -->
    <group if="$(arg refbox)" >
        <include file="$(find mir_atwork_commander_client)/ros/launch/atwork_commander_client.launch"/>
    </group>

</launch>
