<?xml version="1.0"?>
<launch>

  <arg name="robot" value="$(optenv ROBOT youbot-brsu-5)" />

  <include file="$(find mir_bringup)/components/youbot_oodl_driver.launch" />

  <include file="$(find mir_bringup)/components/base_front_hokuyo_node.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find mir_bringup)/components/base_rear_hokuyo_node.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find mcr_collision_velocity_filter)/ros/launch/collision_velocity_filter.launch" >
  	<arg name="footprint_file" value="$(find mir_hardware_config)/$(arg robot)/config/base_footprint_rectangular.yaml" />
  	<arg name="scan_topics" value="[/scan_front, /scan_rear]" />
    <arg name="cmd_vel_out" value="/cmd_vel_prio_low" />
    <arg name="cmd_vel_in" value="/cmd_vel_safe" />
  </include>

  <include file="$(find mir_twist_mux)/ros/launch/twist_mux.launch" />

  <include file="$(find mir_teleop)/ros/launch/teleop_joypad.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <include file="$(find mir_arm_cartesian_control)/ros/launch/arm_cartesian_control_youbot.launch" />
  <include file="$(find mir_gripper_controller)/ros/launch/dynamixel_gripper.launch" />

  <include file="$(find mir_bringup)/components/realsense_camera.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="realsense_camera_type" value="Intel(R) RealSense(TM) Camera S" />
    <arg name="publish_frames" value="false" />
  </include>

  <include file="$(find youbot_dashboard)/launch/dashboard_aggregator.launch" />
  <include file="$(find youbot_diagnostic_aggregator)/launch/diagnostic_aggregator.launch" />

</launch>
