<?xml version="1.0"?>
<launch>	
	
  <include file="$(find mir_bringup)/components/youbot_oodl_driver.launch" />

  <include file="$(find mir_bringup)/components/base_front_hokuyo_node.launch" />
    
  <include file="$(find mir_teleop)/ros/launch/teleop_joypad.launch" />

  <include file="$(find mir_arm_cartesian_control)/ros/launch/arm_cartesian_control_youbot.launch" />	
  <include file="$(find mir_gripper_controller)/ros/launch/gripper_controller.launch" />	

  <include file="$(find youbot_dashboard)/launch/dashboard_aggregator.launch" />	
  <include file="$(find youbot_diagnostic_aggregator)/launch/diagnostic_aggregator.launch" />

</launch>
