<?xml version="1.0"?>

<launch>

   <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)" />

    <node pkg="dynamixel_controllers" type="controller_manager.py" name="controller_manager" output="screen" respawn="true" >
      <rosparam command="load" file="$(find mir_default_robot_config)/$(arg robot)/dynamixel_gripper/motors.yaml" />
    </node>
    
    <rosparam command="load" file="$(find mir_default_robot_config)/$(arg robot)/dynamixel_gripper/controllers.yaml" />    
    <node pkg="dynamixel_controllers" type="controller_spawner.py" name="controller_spawner"
            args="--manager=dxl_manager
                  --port=gripper_port
                  gripper_controller"
            output="screen"  />

    <group ns="arm_1">
      <node pkg="mir_gripper_controller" type="dynamixel_gripper_node" name="gripper_controller" output="screen" respawn="true" >
        <remap from="dynamixel_command" to="/gripper_controller/command" />
        <remap from="dynamixel_motor_states" to="/gripper_controller/state" />
        <remap from="joint_state" to="/joint_states" />
       
        <!-- 
        <param name="soft_torque_limit" type="double" value="0.9" />
        
        <param name="hard_torque_limit_srv_name" type="string" value="/gripper_controller/set_torque_limit" />
        <param name="hard_torque_limit" type="double" value="1.0" />

        <param name="position_threshold" type="double" value="0.05" />
        <param name="queue_size" type="int" value="10" />
        -->
        <param name="torque_limit" type="double" value="1.0" />
        <param name="torque_limit_srv_name" type="string" value="/gripper_controller/set_torque_limit" />
        <param name="compliance_margin" type="int" value="4" />
        <param name="compliance_margin_srv_name" type="string" value="/gripper_controller/set_compliance_margin" />
        <param name="compliance_slope" type="int" value="64" />
        <param name="compliance_slope_srv_name" type="string" value="/gripper_controller/set_compliance_slope" />

        <param name="gripper_configuration_open" type="double" value="-0.17" />
        <param name="gripper_configuration_close" type="double" value="0.43" />
        
      </node>
    </group>
  
  
</launch>
