<?xml version="1.0"?>
<launch>
    <node pkg="mir_gripper_controller" type="gripper_command_controller" name="gripper_controller" ns="/arm_1/" output="screen">
			<remap from="~joint_states" to="/joint_states" />
			<remap from="~position_command" to="/arm_1/gripper_controller/position_command"/>
			<rosparam>
                joints: [gripper_finger_joint_l, gripper_finger_joint_r]
                open: [0.0, 0.0]
                close: [0.0115, 0.0115]
            </rosparam>
	</node>
</launch>
