<?xml version="1.0"?>
<launch>
 
    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <arg name="sim" default="false"/>

    <!-- real robot related launches  -->
    <group unless="$(arg sim)">
      <include file="$(find mir_bringup)/robot.launch" />   <!-- base components -->
    </group>

    <!-- simulation related launches -->
    <group if="$(arg sim)">
      <include file="$(find mir_bringup_sim)/robot.launch" />   <!-- base components -->
      <include file="$(find mcr_gazebo_objects)/ros/launch/spawn_objects.launch"/>   <!-- spawn objects -->
    </group>

    <!-- navigation -->
    <include file="$(find mir_2dnav)/ros/launch/2dnav.launch" />

    <!-- manipulation -->
    <include file="$(find mir_moveit_youbot)/$(arg robot)/move_group.launch">
       <arg name="planner_pipeline" value="interpolation" />
    </include>
    <param name="/move_group/trajectory_execution/allowed_execution_duration_scaling" type="double" value="1.5"/>
 
    <include file="$(find mir_arm_relative_motion_control)/ros/launch/arm_relative_motion_controller.launch" />

    <node pkg="mcr_manipulation_measurers" type="component_wise_pose_error_calculator_trigger_node"
          name="gripper_to_object_pose_error_calculator" output="screen">

        <!-- linear offset applied to the result (a three-element list) -->
        <rosparam param="linear_offset">
            - 0.0
            - 0.0
            - 0.0
        </rosparam>

        <!-- the loop rate of the node (in Hz) -->
        <param name="loop_rate" type="double" value="10"/>
        <param name="wait_for_transform" type="double" value="0.1"/>
        <remap from="~component_output" to="/gripper_to_object_pose_error_calculator/pose_error"/>
        <remap from="~pose_2" to="/mir_states/object_selector/object_pose"/>
        <remap from="~pose_1" to="/pregrasp_planner/end_effector_pose"/>

    </node>

    <node pkg="rostopic" type="rostopic" name="pregrasp_planner_config_pub" args="pub -r 1 /pregrasp_planner/joint_configuration_in std_msgs/String pre_grasp_vs_china" />

    <include file="$(find mir_arm_motions)/ros/launch/planned_motion.launch" />

    <!-- grasp monitoring -->
    <include file="$(find mir_grasp_monitors)/ros/launch/dynamixel_gripper_grasp_monitor.launch" />

    <!-- base placement -->
    <include file="$(find mir_base_placement)/ros/launch/base_placement.launch"/>

    <!-- relative base controller -->
    <include file="$(find mcr_common_converters)/ros/launch/relative_displacement_calculator.launch" />
    <include file="$(find mcr_relative_base_controller)/ros/launch/relative_base_controller.launch"/>

    <!-- perception pipeline -->
    <include file="$(find mcr_object_recognition_mean_circle)/ros/launch/object_recognition.launch" >
        <arg name="workspace_finder_config_file" value="$(find mir_default_robot_config)/$(env ROBOT)/workspace_constraints.yaml" />
    </include>

    <!-- Visual Servoing -->
    <include file="$(find mir_visual_servoing)/ros/launch/visual_servoing_pipeline.launch"/>

 
</launch>
