<?xml version="1.0"?>
<launch>
 
    <rosparam command="load" ns="/script_server/base" file="$(find mcr_default_env_config)/brsu-c025/navigation_goals.yaml"/>
 
    <rosparam command="load" ns="/script_server/arm" file="$(find mir_default_robot_config)/youbot-brsu-2/arm_joint_configurations.yaml"/>
	
</launch>


