<?xml version="1.0"?>
<launch>
 
 	
    <include file="$(find mir_basic_transportation_test)/ros/launch/btt_params.launch"/>

    <!-- real robot related launches  -->
    <include file="$(find mir_bringup)/robot.launch" />

    <!-- moveit -->
    <include file="$(find mir_moveit_youbot_brsu_2)/launch/move_group.launch" />

    <!-- navigation -->
    <include file="$(find mir_2dnav)/ros/launch/2dnav_omni.launch"/>
 
 
    <!-- base placement -->
    <include file="$(find mir_base_placement)/ros/launch/base_placement.launch"/>
    
    <!-- relative base controller -->
    <include file="$(find mcr_relative_movements)/ros/launch/relative_movements.launch" />
    
    
    <!-- perception pipeline -->
    <include file="$(find mcr_object_detection)/ros/launch/object_detection_mockup.launch" />
 
    <!-- Visual Servoing -->
    <include file="$(find mir_visual_servoing)/ros/launch/visual_servoing_mockup.launch"/>

</launch>


