<?xml version="1.0"?>
<launch>

  <node pkg="mir_base_placement" type="base_placement_node" name="base_placement" ns="mir_navigation" respawn="false" output="screen">
  	<param name="cmd_vel_topic" value="/cmd_vel" />
  	<param name="linear_regression_service" value="/scan_front_linearregression" />
  	
  </node> 

</launch>
