<?xml version="1.0"?>
<launch>

    <arg name="speed_mode" default="slow" />
    <arg name="robot" default="$(optenv ROBOT !!ROBOT NOT SET!!)" />

    <include file="$(find mir_2dslam)/ros/launch/2dslam.launch" />

    <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find mir_2dnav)/ros/config/dwa/$(arg speed_mode)/move_base_params.yaml" command="load" />
        <rosparam file="$(find mir_hardware_config)/$(arg robot)/config/base_footprint.yaml" command="load"/>

        <rosparam file="$(find mir_2dnav)/ros/config/dwa/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find mir_hardware_config)/$(arg robot)/config/base_footprint.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find mir_2dnav)/ros/config/dwa/global_costmap_params.yaml" command="load" />

        <rosparam file="$(find mir_2dnav)/ros/config/dwa/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mir_hardware_config)/$(arg robot)/config/base_footprint.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find mir_2dnav)/ros/config/dwa/local_costmap_params.yaml" command="load" />    

        <rosparam file="$(find mir_2dnav)/ros/config/dwa/$(arg speed_mode)/dwa_local_planner_params.yaml" command="load" ns="DWAPlannerROS" />

        <!-- Upload recovery behavior parameters-->    
        <rosparam file="$(find mir_2dnav)/ros/config/recovery_behaviors/force_field_parameters.yaml" command="load" ns="force_field_recovery"/>    
        <rosparam file="$(find mir_2dnav)/ros/config/recovery_behaviors/clear_costmap_parameters.yaml" command="load" ns="clear_costmap_recovery"/>    

        <!-- Remap force field cmd_vel to twist mux cmd_vel -->
        <remap from="cmd_vel" to="/cmd_vel_prio_medium"/>
        <remap from="~force_field_recovery/cmd_vel" to="/cmd_vel_prio_medium"/>
    </node>

    <node pkg="explore_lite" type="explore" name="explore" respawn="false" output="screen">
        <param name="robot_base_frame" value="base_link"/>
        <param name="costmap_topic" value="map"/>
        <param name="costmap_updates_topic" value="map_updates"/>
        <param name="visualize" value="true"/>
        <param name="planner_frequency" value="0.33"/>
        <param name="progress_timeout" value="30.0"/>
        <param name="potential_scale" value="3.0"/>
        <param name="orientation_scale" value="0.0"/>
        <param name="gain_scale" value="1.0"/>
        <param name="transform_tolerance" value="0.3"/>
        <param name="min_frontier_size" value="0.75"/>
    </node>

</launch>
