<?xml version="1.0"?>
<launch>
    <node pkg="mir_coworker_assembly" type="coworker_assembly_server" name="coworker_assembly_server" output="screen"/>
    <node pkg="mir_object_recognition" type="hand_gesture_node" name="hand_gesture_node" output="screen"/>
    <node pkg="mir_object_recognition" type="coworker_assembly_detection_node" name="coworker_assembly_detection_node" output="screen"/>
    <include file="$(find mir_pick_object)/ros/launch/tc_pick_object_server.launch" />
</launch>
