<?xml version="1.0"?>
<launch>

    <!-- Uploads semantic information about youbot that will not come from refbox -->

    <!-- pddl problem that will be loaded as instrinsic knowledge -->
    <arg name="domain_path" default="$(find mir_knowledge)/common/pddl/general_domain" />
    <arg name="pddl_problem" default="minimum_required_facts" />

    <!-- upload knowledge to the knowledge base from PDDL problem definition -->
    <node   pkg="mir_knowledge" type="upload_knowledge" name="upload_knowledge" output="screen">
        <params name="problem_file" type="str" value="$(arg domain_path)/$(arg pddl_problem).pddl"/>
    </node>

</launch>
