<?xml version="1.0"?>
<launch>
  <arg name="file_path" default="~/.ros/bagfiles"/>
  <arg name="file_prefix" default="b-it-bots"/>
  <arg name="topics" default="$(find mir_basic_navigation_test)/ros/config/topics.yaml" />

  <node pkg="mcr_rosbag_recorder" type="rosbag_recorder_node"
        name="rosbag_recorder" ns="mcr_tools" output="screen">
    <param name="topics" type="str" value="$(arg topics)"/>
    <param name="file_path" type="str" value="$(arg file_path)"/>
    <param name="file_prefix" type="str" value="$(arg file_prefix)"/>
    <param name="loop_rate" type="double" value="1.0"/>
  </node>

  <!-- static marker pose on robot -->
  <!-- TODO: this needs to be specified after marker is mounted on robot -->
  <node pkg="tf" type="static_transform_publisher" name="robot_marker_pub" args="-0.21 0 0.25 0 0 0 /base_link /rockin_marker 100"/>

  <!-- rockin/trajectory -->
  <node pkg="topic_tools" type="relay" name="nav_path_relay" args="/move_base/DWAPlannerROS/global_plan /rockin/trajectory" output="screen" /> 

  <!-- rockin/robot_pose -->
  <node pkg="mcr_common_converters" type="transform_to_pose_converter_node"
        name="robot_tf_to_pose" output="screen">

    <!-- the reference frame from which the pose is transformed -->
    <param name="reference_frame" type="str" value="map"/>
    <!-- the target frame to which the pose is transformed -->
    <param name="target_frame" type="str" value="base_link"/>

    <!-- the cycle rate of the node (in Hz) -->
    <param name="loop_rate" type="double" value="10"/>
    <remap from="~converted_pose" to="/rockin/robot_pose" />
    <remap from="~event_in" to="/mcr_tools/rosbag_recorder/event_in" />
  </node>

  <!-- rockin/marker_pose --><!-- REQUIRES e_start TO BE PUBLISHED -->
  <node pkg="mcr_common_converters" type="transform_to_pose_converter_node"
        name="marker_tf_to_pose" output="screen">

    <!-- the reference frame from which the pose is transformed -->
    <param name="reference_frame" type="str" value="map"/>
    <!-- the target frame to which the pose is transformed -->
    <param name="target_frame" type="str" value="rockin_marker"/>

    <!-- the cycle rate of the node (in Hz) -->
    <param name="loop_rate" type="double" value="10"/>
    <remap from="~converted_pose" to="/rockin/marker_pose" />
    <remap from="~event_in" to="/mcr_tools/rosbag_recorder/event_in" />
  </node>

  <!-- rockin/scan_0 -->
  <node pkg="topic_tools" type="throttle" name="scanfront_remap" args="messages /scan_front 10 /rockin/scan_0" output="screen" />

  <!-- rockin/scan_1 -->
  <node pkg="topic_tools" type="throttle" name="scanrear_remap" args="messages /scan_rear 10 /rockin/scan_1" output="screen" />

</launch>
