<?xml version="1.0"?>
<launch>
    <arg name="camera_name" default="arm_cam3d" />

    <group ns="mir_perception">
        <node pkg="mir_cavity_detector" type="cavity_finder" name="cavity_finder" output="screen" respawn="false">
            <remap from="~input/pointcloud" to="/$(arg camera_name)/depth_registered/points" />
            <remap from="~image" to="/$(arg camera_name)/rgb/image_raw" />
            <param name="offset_in_z" type="double" value="0.055" />
        </node>
    </group>
</launch>
